<ul class="breadcrumbs">
  <li class="current">Home</li>
</ul>

<div class='books-orbit'>
<ul class='books-orbit__items' data-orbit data-options="slide_number:false;">
  <% @books.each_with_index do |book, index| %>
    <li data-orbit-slide="headline-<%= index %>">
      <div>
        <div class="row">
          <div class="small-10 small-centered columns">
            <h2><%= book.title %></h2>
            <h3>Subheadline</h3>
            <a href='<%= book_path book %>' class="button">More</a>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>

<ul class='books small-block-grid-3'>
  <% @books.each do |book| %>
    <li class='book'>
      <a href='<%= book_path book %>'>
        <div class='panel'>
          <%= book.title %>
        </div>
      </a>
    </li>
  <% end %>
</ul>
