<div class="row">
  <div class="small-12 columns">
    <ul class="breadcrumbs">
      <li><a href='<%= root_path %>'>Home</a></li>
      <li><a href='<%= books_path %>'>Books</a></li>
      <li class="current"><%= @book.title %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-4 medium-4 columns text-center">
    <%= image_tag @book.image.url(:medium) %>
    <div class='book__actions'>
      <%if !@book.can_rent? %>
        <span class='button secondary radius'>No available copies</span>
      <% elsif can?(:update, @article) %>
        <%if @book.can_rent? %>
          <a href="<%= rent_path @book %>" class='button success radius'>Rent this book</a>
        <% elsif @book.can_return?(current_user) %>
          <a href="<%= return_path @book %>" class='button radius'>Return this book</a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="small-8 medium-8 columns">
    <h1><%= @book.title %></h1>
    <ul class='book__authors'>
      <li class='book__author'>
        Authors:
      </li>
      <% @book.authors.each do |author| %>
        <li class='book__author'>
          <a href='<%= author_path(author) %>'>
            <%= author.name %>
          </a>
        </li>
      <% end %>
    </ul>
    <p><%= @book.description %></p>
  </div>
</div>
